<mat-sidenav-container class="nav-container">

  <mat-sidenav #drawer class="nav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="warn">
      <h1>API Marvel - Catalisa Zup</h1>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  
</mat-sidenav-container>
